@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #f5f5f5, grey );
    }

    section#login{
        width: 90vw;
    }

    section#login > div#imagem {
        float: left;
        width: 80%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;

    }
}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, #f5f5f5, grey );
    }

    section#login {
        width: 950px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
        
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.2em;
        
    }   
}
 